.form {
    display: flex;
    flex-direction: column;
    &__block {
        width: 500px;
        margin: 50px auto;
    }
    &__group {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
        position: relative;
    }
    &__label {
        font-size: 16px;
        line-height: 22px;
        color: #08133B;
        position: absolute;
        top: -12px;
        left: 12px;
        background-color: #ffffff;
        padding: 0 6px;
    }
    &__input {
        font-size: 18px;
        font-weight: 300;
        line-height: 28px;
        padding-top: 17px;
        padding-left: 24px;
        padding-bottom: 15px;
        border: 1px solid #D2D2D2;
        border-radius: 6px;
        background-color: #FFFFFF;
        outline: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        box-shadow: none !important;
    }
    &__button {
        display: inline-block;
        text-decoration: none;
        padding: 18px;
        border-radius: 6px;
        margin-top: 20px;
        font-size: 18px;
        font-weight: 300;
        line-height: 30px;
        cursor: pointer;
        outline: none;
        background-color: #3E69FC;
        border: 1px solid #3E69FC;
        color: #ffffff;
    }
}

.message {
    &__block {
        background-color: rgba(210,210,210, .5);
        border-radius: 6px;
        padding: 12px;
        margin-top: 20px;
    }
    &__item {
        border-bottom: 1px solid #d2d2d2;
    }
    &__empty {
        text-align: center;
    }
}

input[type=submit]:disabled {
    background-color: rgba(62,105,252, .5);
}