<section>
  <div class="form__block">
    <form [formGroup]="form" class="form">
      <div class="form__group">
        <label for="name" class="form__label">Input your name</label>
        <input type="text" id="name" formControlName="name" class="form__input">
      </div>
      <div class="form__group">
        <label for="message" class="form__label">Input your message</label>
        <input type="text" id="message" formControlName="message" class="form__input">
      </div>
      <input type="submit" [disabled]="form.invalid" value="Send" (click)="sendMessage()" class="form__button">
    </form>

    <div class="message__block" *ngIf="messages.length; else nomessages">
      <div class="message__item" *ngFor="let message of messages">
        <p><strong>{{message.name}}</strong></p>
        <p>{{message.msg}}</p>
      </div>
    </div>
    <ng-template #nomessages>
      <p class="message__empty">No messages!</p>
    </ng-template>
  </div>
</section>